/** @define variables; */
:root {
  --gutter: 10px;

  --text-color: white;
  --text-color-focus: #b1b1b1;

  --nav-text-color: #fafafa;
  --nav-text-color-focus: #eeeeee;

  --bg-main: #ececec;

  --side-width: 230px;

   --red: #ff442a;
   --green: #00897b;
   --green-light: #00a195;
   --yellow: #d2ab67;
}
