/* @import public partials */
@import 'partials/menu';
@import 'partials/pagination';
@import 'partials/app-wrapper';
@import 'partials/mqtt-message';

* {

   &::-webkit-scrollbar {
      width: 10px;

      &-thumb {
         background: #666;
      }

      &-track {
         background: #ddd;
      }
   }
}

.overlay {
   background: rgba(0, 0, 0, .4);
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 10;
}

.indeterminate-loader {
   @extend %position-relative;
   height: 80px;
   user-select: none;
   z-index: 11;

   &:before {
      content: '';
      position: absolute;
      background: rgba(162, 162, 166, 0.3);
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
      animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
   }

   &:after {
      content: '';
      position: absolute;
      background: rgba(162, 162, 166, 0.3);
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
      animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
      animation-delay: 1.15s;
   }
}

.swipe-refresh-loader {
   flex-grow: 1;
   @extend %align-row;
   @extend %align-items-center;
   @extend %justify-content-center;

   &__mover {
      fill: transparent;
      stroke: var(--green);
      stroke-width: 5;
      animation: swipe-refresh 2s ease infinite, swipe-rotate 2s linear infinite;
   }
}

input[type='text'],
input[type='username'],
input[type='number'],
input[type='password'] {
   width: 200px;
   text-align: right;
   font-size: 16px;
   padding-right: 25px;

   &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 30px #008d7f inset;
      -webkit-text-fill-color: white !important;
   }

   &::placeholder {
      font: normal 18px 'sans';
      color: rgba(255, 255, 255, .7);
   }
}

input[type='submit'] {
   @extend %radius-100px;
   background: var(--green);
   font: normal 18px 'sans';
   padding: 10px 30px;
   color: white;
   border: none;
   outline: none;

   &:active {
      box-shadow: 0 0 0 2px var(--green) inset;
      background: white;
      color: var(--green);
   }
}

.fall-in-exception {
   position: fixed;
   left: 50%;
   transform: translateX(-50%);
   bottom: 20px;
   z-index: 5;
   @extend %radius-3px;
   @extend %align-row;
   @extend %align-items-center;
   background: #b00020;
   padding: 8px 15px;
   font-size: 15px;

}
