/* @import public partials */
@import 'partials/payment-wait';
@import 'partials/payment-amount';
@import 'partials/mqtt-disconnect';

/* @define about */
.payment {
   @extend %align-row;
   @extend %align-items-center;
   @extend %justify-content-center;
   height: 100%;
   z-index: 0;

   &__form {
      @extend %align-row;
      @extend %position-relative;
      @extend %radius-3px;
      width: 1160px;
      height: 580px;
      box-shadow: 0 0 50px 5px rgba(0, 0, 0, .2);

      &.mqtt-is-disconnected {

         &:before {
            background: #373737 !important;
         }

         .payment__form__input {
            background: #2a2a2a !important;
         }
      }

      &:before {
         content: '';
         background: var(--green);
         @extend %position-absolute;
         right: 70%;
         top: 50%;
         transform: translateY(-50%);
         width: 2000px;
         height: 5000px;
         z-index: -1;
      }

      &__list {
         @extend %align-col;
         background: white;
         width: 70%;
         border-radius: 0 3px 3px 0;

         &--title {
            @extend %align-row;
            @extend %align-items-center;
            color: black;
            height: 60px;
            padding: 0 25px;
            font-size: 15px;
         }

         &--empty-list {
            flex-grow: 1;
            background: transparent url("./img/payment_list_empty.png") no-repeat center;
         }
      }

      &__input {
         @extend %align-col;
         @extend %align-items-center;
         @extend %justify-content-center;
         width: 30%;
         color: white;
      }
   }

   &__situation-text {
      @extend %align-row;
      @extend %align-items-center;
      height: 36px;

      &--mark {
         transform: translateY(3px);
         padding-left: 3px;
      }
   }

   .first-row {

      td {
         padding-top: 20px;
      }
   }

   table {

      thead {

         th {
            font-size: 13px;
         }
      }

      tbody {

         td {

            font-size: 14px;

            &:first-child {
               width: 210px;
            }

            &:nth-child(2) {
               width: 120px;
            }

            &:nth-child(3) {
               width: 230px;
            }
         }
      }

      tfoot {
         tr {
            td {
               > div {
                  direction: ltr;

                  &:nth-last-child(2) {

                  }
               }
            }
         }
      }
   }
}

:global(#payment-input) {
   position: absolute;
   clip: rect(0, 0, 0, 0);
}
