/** @define mqtt disconnect; */
.mqtt-disconnect {
   @extend %align-col;
   @extend %align-items-center;

   svg {
      margin-bottom: 60px;
      width: 60px;
      height: 60px;
      color: #b80024
   }

   .first {
      font-size: 20px;
      margin-bottom: 5px;
   }

   .second {
      font-size: 12px;
   }
}
