/** @define payment wait; */
.payment-wait {
   @extend %align-col;
   @extend %align-items-center;

   .wait-for-scann-logo {
      width: 115px;
      height: 115px;
      fill: #fff;
      opacity: .3;
      margin-bottom: 150px;
   }

   .first {
      font-size: 20px;
      margin-bottom: 5px;
   }

   .second {
      font-size: 12px;
   }
}
