/** @define payment amount; */
.payment-amount {
   @extend %align-col;
   @extend %align-items-center;

   .first {
      font-size: 20px;
      margin-bottom: 5px;
   }

   .second {
      font-size: 12px;
      margin-bottom: 150px;
      min-height: 20px;
   }

   input {

      &:focus {

         + div {

            > button {

               color: white !important;
            }
         }
      }
   }
}
