/* @import pages */
@import 'payment/payment';
@import 'contact/contact';
@import 'homepage/homepage';
@import 'notFound/notFound';
@import 'login/login';

.root-wrapper {
   height: 100%;
   overflow: hidden;
}
