/* @import helpers */
@import 'helpers/variables';
@import 'helpers/requirement';
@import 'helpers/extensions';
@import 'helpers/reset';
/* @import public */
@import 'public/public';
/* @import homepage; */
@import 'pages/pages';

/** @define root layout; */
html, body {
   width: 100%;
   height: 100%;
}

body {
   position: relative;
   z-index: -3;
}

:global #root {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   background: var(--bg-main); /* using vanilla css variables */
   position: relative;
   z-index: -2;
}
