/** @define app-wrapper; */
.app-wrapper {
   @extend %position-relative;
   @extend %align-col;
   height: 100%;

   &__top {
      @extend %position-absolute;
      @extend %align-row;
      @extend %align-items-center;
      height: 80px;
      z-index: 1;
      top: 0;
      right: 0;
      left: 0;
   }
}
