/* @define menu */
.menu {
   @extend %align-row;
   margin-left: auto;

   > * {
      color: white;
      padding: 10px 20px;
      margin-left: var(--gutter);

      &.active {
         background: var(--green);
         @extend %radius-15px;
      }

      &:last-child {
         margin: 0;
      }
   }
}
