/** @define user pagination; */

:root {
  --square: 30px;
}

.pagination {
  @extend %align-row;
  @extend %justify-content-center;
  margin-bottom: calc(2 * var(--gutter));

  > * {
    @extend %align-row;
    @extend %justify-content-center;
    @extend %radius-100px;
    @extend %not-selective;
    min-width: var(--square);
    border: 1px solid #2d2d48;
    margin: 0 30px 0 0;
    height: var(--square);
    overflow: hidden;
    cursor: pointer;

    &:hover {
      background: #0e0e18;
      color: white;
      border-color: #0e0e18;
    }

    &:first-child {
      margin: 0;
    }

    &.disabled {
      cursor: not-allowed;
      opacity: .4;
      background: transparent !important;
      border-color: #2d2d48 !important;
    }

    &.selected {
      background: #2d2d48;
      color: white;
      cursor: default;
    }

    > a {
      @extend %align-row;
      @extend %align-items-center;
      @extend %justify-content-center;
      height: var(--square);
      outline: none;
      padding: 0 15px;
    }
  }

  .break {
    @extend %align-row;
    @extend %justify-content-center;
    align-items: flex-end;
    padding: 0;
  }
}
