/** @define login; */
.login {
   @extend %align-row;
   @extend %align-items-center;
   @extend %justify-content-center;
   height: 100%;
   z-index: 0;

   &__form {
      @extend %align-row;
      @extend %position-relative;
      @extend %radius-3px;
      width: 1160px;
      height: 550px;
      box-shadow: 0 0 50px 5px rgba(0, 0, 0, .2);

      &:before {
         content: '';
         background: var(--green);
         @extend %position-absolute;
         right: 70%;
         top: 50%;
         transform: translateY(-50%);
         width: 2000px;
         height: 5000px;
         z-index: -1;
      }

      .image-wrapper {
         @extend %align-col;
         @extend %justify-content-center;
         @extend %not-selective;
         background: #747474 url("./img/login_bg.jpg");
         background-size: cover;
         width: 70%;
         border-radius: 0 3px 3px 0;
         padding-right: 115px;

         .logo-wrapper {
            @extend %position-relative;
            height: 50px;
            margin-bottom: 115px;

            svg {
               @extend %position-absolute;
               right: -66px;
               top: -23px;
               width: 280px;
               height: 95px;
               transform: scale(0.5263);
            }
         }

         .home-text-1 {
            font-size: 35px;
         }

         .home-text-2 {
            font-size: 15px;
         }
      }

      .input-wrapper {
         @extend %align-col;
         @extend %align-items-center;
         @extend %justify-content-center;
         width: 30%;
         color: white;

         .welcome {
            margin-bottom: 25px;
            font-size: 23px;
         }

         .welcome-hint {
            margin-bottom: 75px;
            text-align: center;
            font-size: 13px;
         }

         input {

            &:focus {

               + div {

                  > button {

                     color: white !important;
                  }
               }
            }
         }
      }
   }
}
